* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color:#2A2F32;
}

ul {
	list-style: none;
}

#content {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
.clearfix{height:1%}

/*.clearfix::after,.clearfix::before{
	content: ".";
	overflow: hidden;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}*/

/*左边栏*/
#nav_link {
	float: left;
	position: relative;
	width: 252px;
	height: 100%;
	display: inline-block;
	background-color: rgb(42, 47, 50);
}

/*右边信息*/

#nav_message {
	float: left;
	position: relative;
	width: 80%;
	background-color:white;
	/*border:1px solid blue;*/
}

#logo {
	display: block;
	width: 100%;
	height: 140px;
	position:relative;
	background-color: rgb(35, 40, 44);
}

#logo img {
	width: 80%;
	height: 140px;
	display: block;
	margin: 10px auto;
}
#logo h1{
	color:white;
	position:absolute;
	top:60px;
	left:80px;
}

#userMessage {
	width: 100%;
	height: 150px;
	position: relative;
}

#userMessage img {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 30px;
	left: 20px;
	border-radius: 100%;
}

#userMessage p {
	display: block;
	position: absolute;
	width: 120px;
	height: 30px;
	top: 60px;
	left: 120px;
	color: white;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#userMessage a{
	position:absolute;
	color:#15967B;
	text-decoration:none;
	font-size:13px;
	left:120px;
	top:90px;
}

#userMessage a:hover{
	text-decoration:underline;
}

#links {
	/*border:1px solid red;*/
	margin-bottom: 20px;
}

#links li {
	width: 248px;
	height: 40px;
	position: relative;
}

#links li:hover {
	cursor: pointer;
}

.liActive{
	background-color: rgb(35, 40, 44);
	border-right: 4px solid rgb(0, 177, 125);
}

#links a {
	text-decoration: none;
	color: white;
	font-size: 14px;
	display: block;
	width: 50%;
	height: 40px;
	margin-left: 80px;
	line-height: 40px;
}

#links li img {
	display: block;
	position: absolute;
	width: 22px;
	height: 22px;
	top: 10px;
	left: 40px;
}

#FuncLink {
	display: block;
	width: 100%;
	height: 50px;
	background-color: #EAF3FC;
}

#userTables {
	background-color:white;
	position: absolute;
	display:block;
	min-height:540px;
	width: 100%;
}

#userTables p {
	position: relative;
	border-bottom: 2px solid #15967B;
	margin-top: 20px;
	padding-left: 20px;
	text-align: left;
}

#deleteForm,#searchForm{
	top:5px;
	left:200px;
	border-radius: 5px;
	border:1px solid #15967B;
	position: absolute;
	display:block;
	width:120px;
	padding-left:5px;
	height:30px;
	display: none;
}

#searchForm{
	left:440px;
}

#deleteBtn,#searchBtn{
	position: absolute;
	width:80px;
	height:30px;
	background-color:#15967B;
	border:none;
	font-size:13px;
	color:white;
	line-height:30px;
	text-align:center;
	left:340px;
	top:6px;
	border-radius:2px;
	letter-spacing: 2px;
	display: none;
}

#searchBtn{
	left:580px;
}

#deleteBtn:hover,#searchBtn:hover{
	cursor: pointer;
	box-shadow: 0 0 2px #15967B;
}

#userTables p a img {
	display: block;
	width: 30px;
	height: 25px;
	margin: 0 auto;
}

#userTables p a {
	margin-left: 20px;
	display: inline-block;
	width: 55px;
	height: 50px;
	font-size: 12px;
	text-align: center;
	color: #ccc;
	text-decoration: none;
}

#userTables p a:hover {
	cursor: pointer;
	color: #545656;
}


/*用户列表设计*/

#userList {
	margin-top: 10px;
	margin-left: 40px;
}

.userListItem {
	margin-left: 40px;
	border-bottom: 1px solid #DFF0D8;
	transition: all 0.5s;
}

.userListItem:hover {
	background-color: #DFF0D8;
	box-shadow: 0 0 5px #DFF0D8;
}

#userList span,
.userListItem span {
	color: #878a89;
	display: inline-block;
	text-align: left;
	width: 150px;
	height: 40px;
	line-height: 40px;
}

.userListItem span {
	color: #444;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*工作室管理模块*/
#roomTables{
	background-color:white;
	position: absolute;
	display: none;
	width: 100%;
}
#updateRoomSum > p,#applyList > p,#roomVisit > p{
	border-left:4px solid #15967B;
	font-size:14px;
	color:#878A89;
	font-weight: 600;
	padding-left:10px;
	width:200px;
	margin-top:50px;
	margin-bottom:10px;
}

#applyList p{
	margin-top:0;
}

#roomVisit p{
	margin-top:20px;
	margin-left:18px;
}

#updateRoomSum{
	display: inline-block;
	width:400px;
	height:250px;
	margin-left:20px;
	margin-top:10px;
	position:relative;
}

#updateRoomSum #selectRoom{
	border-radius: 5px;
	border:1px solid #15967B;
	display:inline-block;
	width:150px;
	padding-left:5px;
	height:30px;
}

#updateRoomSum button{
	width:80px;
	height:30px;
	margin-left:235px;
	background-color:#15967B;
	border:none;
	font-size:13px;
	color:white;
	line-height:30px;
	text-align:center;
	border-radius:2px;
	letter-spacing: 2px;
}

#updateRoomSum textarea{
	display: inline-block;
	border:1px solid #15967B;
	border-radius:2px;
	padding-left:5px;
	margin-top:10px;
	resize: none;
}

#applyList{
	display: inline-block;
	position:absolute;
	width:450px;
	height:240px;
	margin-top:62px;
}

#applyUsers{
	width:100%;
	height:200px;
	margin-top:22px;
	overflow-y: scroll;
	border:1px solid #15967B;
}

#roomVisit{
	width:100%;
	min-height: 280px;
}

#roomVisit #dataShow{
	display:block;
	width:600px;
	height:400px;
	margin:0 auto;
}

/* 结束 */
/* 作品管理模块 */
#productTables{
	background-color:white;
	position: absolute;
	width:100%;
	display: none;
}

#picture,#videoManager{
	height:300px;
	width:100%;
	position:relative;
	border-bottom:1px solid #15967B;
}

#pictureManager{
	margin-left:20px;
	margin-top:20px;
	max-height:200px;
	overflow-y:scroll;
}

#pictureManager img{
	display:inline-block;
	width:100px;
	height:70px;
	border:1px solid #ccc;
}

#pictureManager img:hover{
	box-shadow: 0 0 5px #ccc;
}

#picture p,#videoManager p{
	margin-left:20px;
	margin-top:20px;
	padding-left:10px;
	border-left:4px solid #15967B;
}

/*分页控件设计*/

#pageList {
	margin-top: 10px;
	margin-bottom:10px;
	position:relative;
	height:35px;
	/*border:1px solid red;*/
}

#max,#min{
	display:none;
}

#pageList #max,#pageList #min{
	position:absolute;
}

#page,#pageleft{
	display:block;
	width: 60px;
	height: 30px;
	text-align: center;
	color: black;
	background-color: #999;
	border-radius: 10px;
	transition: all 0.5s;
	position:absolute;
}

#page{
	left:450px;
	display:none;
}

#pageleft{
	display:none;
	left:400px;
}

#page:hover,#pageleft:hover{
	cursor: pointer;
	width: 80px;
	background-color: #f5f736;
}

#pageleft:hover{
	left:380px;
}

#page:hover span {
	margin-left: 20px;
}

#pageleft:hover span {
	margin-right: 20px;
}

#page span,#pageleft span {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-weight: 600;
	transition: all 0.5s;
}
/*定义下拉选择器外部盒子*/
#selector{
	display: block;
	width:200px;
	min-height: 35px;
	position:absolute;
}
/*定义下拉项的样式*/
#selector p{
	margin:0;
	display: block;
	width:100%;
	height:30px;
	line-height: 30px;
	font-size:14px;
}
/*下拉自选项*/
#selector #items{
	display: none;
	border:1px solid #ccc;
	border-radius: 10px;
	margin-top:2px;
	box-shadow: 0 0 5px #ccc;
	background-color:white;
}
#selector #items p{
	width:95%;
	padding-left:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#selector #items p:hover{
	cursor:pointer;
	color:orangered;
}
/*定义第一个默认的选择项*/
#selector #one{
	border:1px solid dodgerblue;
	background-color:#15967B;
	border-radius:10px;
	cursor:pointer;
	position:relative;
	box-shadow: 0 0 3px #15967B;
}
/*第一个下拉选项的内容样式*/
#one #xe{
	display: inline-block;
	width:80%;
	height:30px;
	line-height: 30px;
	color:white;
	border-right:1px solid white;
	font-size:14px;
	margin-left:10px;
	cursor:pointer;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
/* 画三角形 */
#one #re{
	display: inline-block;
	width:0;
	height:0;
	border-top:8px solid white;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	right:10px;
	top:13px;
	cursor:pointer;
	position:absolute;
}
/* 选择图片按钮 */
#picture form, #videoManager form{
	display:none;
}
#picture button, #videoManager button{
	position:absolute;
	width:100px;
	height:40px;
	border-radius:5px;
	font-size:15px;
}
.btn1{
	display:block;
	left:20px;
	bottom:10px;
	color:white;
	border:none;
	background-color:#00B17D;
}
.btn2{
	right:250px;
	bottom:10px;
	color:white;
	border:none;
	display:none;
	background-color:#00B17D;
}
.btn3{
	right:100px;
	bottom:10px;
	background-color:white;
	color:#00B17D;
	display:none;
	border:1px solid #00B17D;
}
#picture button:hover{
	cursor:pointer;
}