<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 配置连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- 将Hibernate配置文件引入到Spring中由Spring进行管理 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射 -->
		<property name="mappingResources">
			<list>
				<value>edu/gznc/cxcyzx/domain/Room.hbm.xml</value>
				<value>edu/gznc/cxcyzx/domain/User.hbm.xml</value>
				<value>edu/gznc/cxcyzx/domain/Article.hbm.xml</value>
				<value>edu/gznc/cxcyzx/domain/Video.hbm.xml</value>
				<value>edu/gznc/cxcyzx/domain/Manager.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 导航栏模块 -->
	<bean id="navAction" class="edu.gznc.cxcyzx.web.action.NavAction" />
	<!-- 用户模块 -->
	<bean id="userAction" class="edu.gznc.cxcyzx.web.action.UserAction" />
	<bean id="userService" class="edu.gznc.cxcyzx.service.impl.UserServiceImpl" />
	<bean id="userDao" class="edu.gznc.cxcyzx.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 工作室模块 -->
	<bean id="roomAction" class="edu.gznc.cxcyzx.web.action.RoomAction" />
	<bean id="roomService" class="edu.gznc.cxcyzx.service.impl.RoomServiceImpl" />
	<bean id="roomDao" class="edu.gznc.cxcyzx.dao.impl.RoomDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 文章模块 -->
	<bean id="articleAction" class="edu.gznc.cxcyzx.web.action.ArticleAction" />
	<bean id="articleService" class="edu.gznc.cxcyzx.service.impl.ArticleServiceImpl" />
	<bean id="articleDao" class="edu.gznc.cxcyzx.dao.impl.ArticleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 视频模块 -->
	<bean id="videoAction" class="edu.gznc.cxcyzx.web.action.VideoAction" />
	<bean id="videoService" class="edu.gznc.cxcyzx.service.impl.VideoServiceImpl" />
	<bean id="videoDao" class="edu.gznc.cxcyzx.dao.impl.VideoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 后台管理模块 -->
	<bean id="managerAction" class="edu.gznc.cxcyzx.web.action.ManagerAction" />
	<bean id="managerService" class="edu.gznc.cxcyzx.service.impl.ManagerServiceImpl" />
	<bean id="managerDao" class="edu.gznc.cxcyzx.dao.impl.ManagerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 文件上传模块 -->
	<bean id="fileAction" class="edu.gznc.cxcyzx.web.action.FileAction" />
	
	
	<!-- 配置事务管理器。 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 开启注解 配置 -->
	<context:annotation-config />
</beans>